<%= content_tag :h1, t('dashboard.title') %>
<hr>
<div class="row">
  <div class="col-md-6">
    <%= render_panel t('dashboard.latest_deploys'), nil, icon: :github do %>
      <%= render 'handlebars/latest_deployments' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render_panel t('dashboard.issue_summary'), nil, icon: :github do %>
      <%= render 'handlebars/issue_summary' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render_panel t('dashboard.github_summary'), nil, icon: :github do %>
      <%= render 'handlebars/repositories_summary' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render_panel t('dashboard.github_member_summary'), nil, icon: :github do %>
      <%= render 'handlebars/members_summary' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render_panel t('dashboard.repo_commit_stat'), area_chart(charts_last_year_commit_stats_path, format: "%m"), icon: :chart %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render_panel t('deploy.deploys_by_week'), line_chart(charts_deploys_by_week_path), icon: :chart %>
  </div>
  <div class="col-md-6">
    <%= render_panel t('deploy.deploys_by_application'), pie_chart(charts_deploys_by_application_path), icon: :chart %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <%= render_panel t('deploy.deploys_by_day'), column_chart(charts_deploys_by_day_path, stacked: true), icon: :chart %>
  </div>
  <div class="col-md-6">
    <%= render_panel t('deploy.deploys_by_time_of_day'), bar_chart(charts_deploys_by_hour_path, stacked: true), icon: :chart %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <%= render_panel t('common.timeline'), nil, icon: :list do %>
      <%= render_timeline_list do %>
        <% Deployment.latest(10).each_with_index do |deploy, index| %>
          <%= render_timeline_item t('common.app_deployed', app: deploy.application, server: deploy.server).html_safe, t('common.time_ago', time: time_ago_in_words(deploy.created_at)), left: index.even? do %>
            <%= link_to github_commits_path(repo: deploy.repository_name, sha: deploy.commit_sha) do %>
              <%= icon_for :commit_log %>
              <%= t('common.commit_log') %>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
