<%= content_tag :div, icon_for(icon.to_sym), class: "timeline-badge #{event_type}" %>
<div class="timeline-panel">
  <div class="timeline-heading">
    <%= content_tag :h4, title, class: 'timeline-title' %>
    <p>
      <small class="text-muted">
        <%= icon_for :clock %>
        <%= time %>
      </small>
    </p>
  </div>
  <%= content_tag :div, body, class: 'timeline-body' %>
</div>
