<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
      <span class="sr-only"><%= t('common.toggle_nav') %></span>
      <% 3.times do %>
        <span class="icon-bar"></span>
      <% end %>
    </button>
    <%= link_to MetaDefines::APP_NAME, root_path, class: 'navbar-brand' %>
  </div>
  <!-- /.navbar-header -->

  <ul class="nav navbar-top-links navbar-right">
    <!-- <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
    <ul class="dropdown-menu dropdown-messages">
      <li>
        <a href="#">
          <div>
            <strong>John Smith</strong>
            <span class="pull-right text-muted">
              <em>Yesterday</em>
            </span>
          </div>
          <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
        </a>
      </li>
      <li class="divider"></li>
        <li>
          <a class="text-center" href="#">
            <strong>Read All Messages</strong>
            <i class="fa fa-angle-right"></i>
          </a>
        </li>
      </ul>
    </li> -->
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
      </a>
      <%= render 'handlebars/milestones_progress_list' %>
      <!-- /.dropdown-tasks -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <i class="fa fa-bell fa-fw"></i>  <%= icon_for :caret_down %>
      </a>
      <ul class="dropdown-menu dropdown-alerts">
        <% Deployment.latest(6).each do |deployment| %>
          <li>
            <%= link_to github_commits_path(repo: deployment.repository_name, sha: deployment.commit_sha) do %>
              <div>
                <%= icon_for :upload %>
                <%= deployment.application %>
                <span class="pull-right text-muted small"><%= t('common.time_ago', time: time_ago_in_words(deployment.created_at)) %></span>
              </div>
            <% end %>
          </li>
          <li class="divider"></li>
        <% end %>
        <li>
          <%= link_to deployments_path, class: 'text-center' do %>
            <%= content_tag :strong, t('common.all_deploys') %>
            <%= icon_for :right_angle %>
          <% end %>
        </li>
      </ul>
      <!-- /.dropdown-alerts -->
    </li>
    <!-- /.dropdown -->
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">
        <%= icon_for :user %>
        <%= icon_for :caret_down %>
      </a>
      <%= render 'handlebars/members_dropdown' %>
    </li>
  </ul>
  <!-- /.navbar-top-links -->

</nav>
<!-- /.navbar-static-top -->
