<%= render_handlebar github_members_summary_path do  %>
  <p><strong><%= t('dashboard.github_member_summary') %></strong></p>
  <ul>
    {{#each members}}
      <li>
        <%= link_to '{{login}}', '{{html_url}}', target: '_blank' %>
      </li>
    {{/each}}
  </ul>
  <p>
    <strong><%= t('common.member_count') %></strong>
    {{member_count}}
  </p>
  <hr>
  <p>
    <strong><%= t('dashboard.github_team_summary') %></strong>
  </p>
  <ul>
    {{#each teams}}
      <li>
        <%= link_to '{{name}}', "#{GithubApi.new.organization.github_teams_url}/{{name}}", target: '_blank'  %>
      </li>
    {{/each}}
  </ul>
  <p>
    <strong><%= t('common.team_count') %></strong>
    {{team_count}}
  </p>
<% end %>
