<%= content_tag :h1, t('common.latest_commits') %>
<%= content_tag :p do %>
  <%= t('common.child_commits_for') %>
  <%= content_tag :strong, "#{@repo_name}, #{@commit_sha[0..10]}" %>
<% end %>
<hr>
<div class="row">
  <div class="col-md-12">
    <%= render_panel t('common.commit_timeline'), nil, icon: :list do %>
      <%= render_handlebar github_commits_before_path(repo: @repo_name, sha: @commit_sha) do  %>
        <%= render_timeline_list do %>
          {{#each commits}}
            <li class="{{inverted_class}}">
              <%= render_timeline_item '{{message_title}}', '{{time_ago}}', render_li: false do %>
                <p>
                  {{{message_body}}}
                </p>
                <%= link_to(@github.github_commit_url('{{repository_name}}', '{{commit_sha}}'), target: '_blank') do %>
                  <%= t('common.commit') %>
                  <%= icon_for :github %>
                <% end %>
                <p>
                  <strong>Author:</strong>
                  {{author}}
                </p>
                {{#if deployed_to}}
                <p>
                  <strong>Deployed to:</strong>
                  {{deployed_to}}
                </p>
                {{/if}}
              <% end %>
            </li>
          {{/each}}
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
