<%= content_tag :h1, t('common.github_stats') %>
<hr>
<div class="row">
  <div class="col-md-6">
    <%= render_panel t('dashboard.github_summary'), nil, icon: :github do %>
      <%= render 'handlebars/repositories_summary' %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render_panel t('dashboard.github_member_summary'), nil, icon: :github do %>
      <%= render 'handlebars/members_summary' %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render_panel t('dashboard.repo_commit_stat'), area_chart(charts_last_year_commit_stats_path, format: "%m"), icon: :chart %>
  </div>
</div>