<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for(@deployment) do |f| %>
      <%= f.text_field :commit_sha %>
      <%= f.text_field :tag %>
      <%= f.text_field :server %>
      <%= f.text_field :repository_name %>
      <%= f.text_field :application %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class="col-md-6">
    <%= render 'shared/deploy_code_shell' %>
  </div>
</div>
