<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('deploy.commit_sha') %></strong>
  <%= @deployment.commit_sha %>
</p>

<p>
  <strong><%= t('deploy.tag') %></strong>
  <%= @deployment.tag %>
</p>

<p>
  <strong><%= t('deploy.server') %></strong>
  <%= @deployment.server %>
</p>

<p>
  <strong><%= t('deploy.application') %></strong>
  <%= @deployment.application %>
</p>

<%= link_to t('common.edit'), edit_deployment_path(@deployment) %> |
<%= link_to t('common.back'), deployments_path %>
